$brand1:#03001C;
$brand2:#301E67;
$brand3:#5B8FB9;
$brand4:#B6EADA;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Nunito', sans-serif;
    // font-family: 'Poppins' sans-serif;
}